*{
    margin: 0px;
    padding: 0px;
    font-size: 16px
}
body{
    background-color: #E0FFFF;
}

header{
    width: 95.5vw;
    background-color: #008B8B;
    padding: 28px;  
    display: flex;
    justify-content: space-between;

}
.titulo{
    margin-left: 32px;
    font-size: 20px;
}

.menu-link{
    float: right;
    list-style: none;
    padding: 8px;
    margin-right: 32px;
    font-size: 20px;
    font-weight: bold;
    
}
 
.link-text{
    padding: 8px;
    text-decoration: none;
    color:black;
    border-radius: 7px;
}

a:visited {
	color:  black;
    text-decoration: none   ;
}
 .link-text:hover {
    background-color: #f3f3f3;
 	text-decoration: none;
 
}
.picture{
    padding: 20px 70px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
}
.description{
    padding: 20px;
}
.description::after{
    content: "";
    display: block;
    clear:both;
}
.description-text{
    padding:40px;
}

.box-listas{
    display: flex;
    margin:20px;
    padding: 10px;
    justify-content: space-around;
    flex-flow: row wrap

}
.container-hobbies{
    
    float: left;
    
}

.container-top5{
    float: right;
    justify-content: space-around;
}
.top5-titulo{
    clear:both;
    padding:10px
}
.hobbies-titulo{
    text-align: right;
    padding: 10px;
}

.container-items{
    display: block;
    list-style: none;
    background-color: #DFDFDF;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-right: 5px;
    text-align:center;
    padding-top: 70px;
    padding-bottom: 0px

}
.hobbies{
    display: flex;
    text-align: center;
}
.top5{
    display:flex;
    text-align: center;
}

footer{
    width: 95.5vw;
    background-color: #008B8B;
    padding: 10px;
    padding-top: 15px;  
    display: flex;
    justify-content: space-around;

}
.footer-nav{
    float: left;
    list-style: none;
    padding: 8px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.footer-link{
    float: left;
    list-style: none;
    padding: 8px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    
}

img{
    width: 32px;
    height: 32px;
    padding: 8px;
    padding: 8px;
    margin-right: 32px;
    margin-right: 32px;

}

.footer-contato{
    text-align: center;
    float: right;
    list-style: none;
    margin-right: 0px;
    margin: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    color:black;
    border-radius: 7px;
}
.footer-contato:hover{
     background-color: #f3f3f3;
 	text-decoration: none;
}
